@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6fa;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  color: black;
}

::-ms-reveal {
  display: none;
}

/* -----------------tiptap start---------------------- */
/* these classes are for tiptap text editor */
.tiptap {
  padding: 1rem;
  outline: none;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.ProseMirror li {
  margin-bottom: 0.5em;
}

/* ----------------tiptap end------------------- */

@layer components {
  .form-input {
    @apply p-2 border border-gray-border text-[#0F172A] text-sm outline-none focus:outline-none rounded-md w-full transition-colors;

    &:read-only {
      @apply cursor-default;
    }

    &.error {
      @apply border-red-500;
    }
  }

  .form-error {
    @apply text-red-500 text-xs mt-1;
  }

  .form-label {
    @apply text-[#abaeb4] text-sm flex flex-col gap-1;
  }
}